body{
  margin: 0;
  font-family: 'Lato', sans-serif;
}
header{
  background-image: url(img/eid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  display: flex;
}
.header-element{
  margin-left: 15%;
  margin-right: 50%;
  margin-top: 200px;
}
.header-element h1{
  font-size: 70px;
  color: white;
  
}
.header-element p{
  font-size: 35px;
  color: white;
}
.button{
  background-color: #e91c8d;
  /* background-image: linear-gradient(#e91c8d, rgba(185, 14, 108, 0.706)); */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.button1{
  background-color: rgba(233, 17, 136, 0.638);
  color: white; 
  border: 2px solid #e91c8d;
}

.button1:hover {
  background-color: #e91c8d;
  color: white;
  
}
header{
  margin-bottom: 150px;
}
section{
  margin-bottom: 150px;
}
.half-width{
  width: 50%;
}
.flex{
  display: flex;
}
.second-content{
  margin-right: 80px;
}
.header-style h2{
  font-size: 60px;
}
.header-style p{
  font-size: 25px;
} 
.container{
  margin-left: 10%;
}
.third-content{
  margin-left: 80px;
}
.video-margin{ margin-top: 100px;}

.fourth-element{
  margin-left: 25%;
  width: 50%;
  text-align: center;
}
.cards{ 
  margin-left: 20%;
  margin-top: 80px;
}
.cards h3{
  font-size: 25px;
}
.cards p{
  font-size: 22px;
}
.card-main{
  background-color: rgba(245, 245, 220, 0.716);
  width: 30%;
  padding: 35px 35px 35px 35px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.483);
}

.icon-margin{
  margin-right: 20px;
  padding-top: 35px;
}
.card-row-2{
  margin-top: 25px;
}
.photo-content{
  
}
.photo-content img{
  border-radius: 15px;
  margin-right: 20px;
}